In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


pd.set_option('display.max_columns',None)
sns.set(style='whitegrid')

In [8]:
# Load all csvs

crm_df = pd.read_csv(r"C:\Users\harsh\OneDrive\Desktop\data analysis\Revenue_leakage and KPI analytics project\data\raw\crm1.csv")
print(crm_df.shape)

(13627493, 6)

In [10]:
device_df = pd.read_csv(r"C:\Users\harsh\OneDrive\Desktop\data analysis\Revenue_leakage and KPI analytics project\data\raw\device1.csv")
rev_df = pd.read_csv(r"C:\Users\harsh\OneDrive\Desktop\data analysis\Revenue_leakage and KPI analytics project\data\raw\rev1.csv")
assurance_df = pd.read_csv(r"C:\Users\harsh\OneDrive\Desktop\data analysis\Revenue_leakage and KPI analytics project\data\raw\telecom_revenue_assurance_dataset.csv")

In [11]:
print("CRM Data shape: ", crm_df.shape)
print("Device Data shape: ", device_df.shape)
print("Revenue Data shape: ", rev_df.shape)

# peek into the data
display(crm_df.head())
display(device_df.head())
display(rev_df.head())

CRM Data shape:  (13627493, 6)
Device Data shape:  (2440100, 6)
Revenue Data shape:  (1704601, 3)

,msisdn,gender,year_of_birth,system_status,mobile_type,value_segment
0,aeef4233d9ad34e41f7ecf48d64646f8,MALE,1985.0,ACTIVE,Prepaid,Tier_3
1,2397d009e705bc8a2654cbb3f480cc59,MALE,1958.0,ACTIVE,Prepaid,Tier_3
2,6f05d738919f9283322bae17dc366bf5,MALE,1976.0,ACTIVE,Prepaid,Tier_3
3,45352d9d126f86f40c7eee79a82c833c,MALE,1996.0,ACTIVE,Prepaid,Tier_3
4,959b00a279e2785cfa81728338c324f7,FEMALE,1960.0,ACTIVE,Prepaid,Tier_3

,msisdn,imei_tac,brand_name,model_name,os_name,os_vendor
0,c0e80ecc67484f293db0cf723146c9d6,7ce90a5469d6a07dc8c770956cc29482,SAMSUNG,GALAXY J1 ACE (SM-J111F),Android,Google
1,2bce0cd398cbc9b2478ecaf1ef62b2c1,110f73736e1e1fe0ef5cb8a581bc0ec2,WALTON,OLVIO L22,NaN,NaN
2,d7b8b49fafb853a3aef0c20d49bca845,ddf90b7c597d7714637ecde342a8c609,LG,W1500,LG OS,LG
3,d628f3b548dc74c5fde92323c61c819e,c395eac49569e6741faf98284aef725c,SYMPHONY,B13,NaN,NaN
4,e33e767a53a8dceadebc3354221bbf6a,395b163b071e5880e66ac57c5768673e,SAMSUNG,METRO SM-B350ED,Samsung OS,Samsung

                             msisdn  week_number  revenue_usd
0  66e94d24d8e0d5776a8a6b694782eff0           26    20.265621
1  66e94d24d8e0d5776a8a6b694782eff0           34     5.361164
2  66e94d24d8e0d5776a8a6b694782eff0           31    18.181347
3  66e94d24d8e0d5776a8a6b694782eff0           35    16.857391
4  66e94d24d8e0d5776a8a6b694782eff0           24    14.392326

In [12]:
# check missing values and dtypes

print("\n CRM data")
display(crm_df.info())
display(crm_df.isnull().sum())

print("\n Device data:")
display(device_df.info())
display(device_df.isnull().sum())

print("\n Revenue data ")
display(rev_df.info())
display(rev_df.isnull.sum())

 CRM data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13627493 entries, 0 to 13627492
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   msisdn         object
 1   gender         object
 2   year_of_birth  float64
 3   system_status  object
 4   mobile_type    object
 5   value_segment  object
dtypes: float64(1), object(5)
memory usage: 623.8+ MB

None

msisdn                 0
gender           2679804
year_of_birth       2940
system_status          0
mobile_type            0
value_segment          0
dtype: int64

 Device data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2440100 entries, 0 to 2440099
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   msisdn      object
 1   imei_tac    object
 2   brand_name  object
 3   model_name  object
 4   os_name     object
 5   os_vendor   object
dtypes: object(6)
memory usage: 111.7+ MB

None

msisdn             0
imei_tac           0
brand_name     30446
model_name     30446
os_name       677714
os_vendor     660472
dtype: int64

 Revenue data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704601 entries, 0 to 1704600
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   msisdn       object
 1   week_number  int64
 2   revenue_usd  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 39.0+ MB

None

AttributeError: 'function' object has no attribute 'sum'

In [13]:
print("Assurance data")
display(assurance_df.info())
display(assurance_df.isnull().sum())

Assurance data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerID           1000 non-null   object
 1   CallDurationMinutes  1000 non-null   float64
 2   DataUsageGB          1000 non-null   float64
 3   SubscriptionPlan     1000 non-null   object
 4   IsBillingAnomaly     1000 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 39.2+ KB

None

CustomerID             0
CallDurationMinutes    0
DataUsageGB            0
SubscriptionPlan       0
IsBillingAnomaly       0
dtype: int64

In [ ]:
i